/* General */
:root {
    --panelBg: rgb(47, 49, 52);
    --darkBg: rgb(62, 64, 67);
}
hr {
    margin: 0 0 4px 0;
    border : 0;
    height: 3px;
    background-image: var(--panelBg);
}
body {
    background-color: var(--darkBg);
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}
/*navbar*/
.navbar {
    background-color: var(--panelBg);
}
i {
    margin-left: 5px;
    margin-right: 5px;
}
/*Movie Cards*/
#container {
    display: flex;
    justify-content: space-around;
}
.btn {
    margin: 10px;
    background-color: #09090a;
    color: whitesmoke;
}
.textBox {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.select {
    padding: 0 10px;
    height: 38px;
}
.deleteGroup {
    display: flex;
    align-items: center;
}
#delete-movie {
    margin: 0;
    background-color: rgb(148, 0, 8);
}

@keyframes spin {
    from { transform: translate(-50%, -50%) rotate(0deg); }
    to { transform: translate(-50%, -50%) rotate(360deg); }
}
.spinner {
    border: 4px solid transparent;
    border-top-color: #3498db; /* Blue spinner */
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
}